/* SEE LOWER PARTS OF THE FILE FOR SPECIFIC STYLES FOR OTHER PAGES */

/* BASIC STYLE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7EFC1;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #0F3D26;
}

/* HEADINGS FONTS */
h1, h2, h3 {
    font-family: Rubik, Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

/* INDEX LOGO AND H1 */
.logo {
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* STACKED LOGO AND H1 FOR OTHER PAGES */
.stackedlogo-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.stackedlogo-link {
    grid-column: 1;
    align-self: start;
}

.stackedlogo {
    width: 150px;
    height: auto;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}

.stackedlogo-container h1 {
    font-size: 2rem;
    padding: 5px 80px 5px 80px;
    background-color: #0F3D26;
    margin-top: 30px;
    color: #F7EFC1;
    border-radius: 5px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.navbar li {
    margin: 10px 30px;
    color: #0F3D26;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navbar li:hover {
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
    color: #0F3D26;
}

/* MAIN AND NAVBAR */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F0E2A8;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

/* INTRO */
.intro {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-items: center;
}

.intro-text {
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.intro-text h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.intro-img {
    width: 30%;
    height: auto;
    margin-left: 20px;
}

/* REASONS TO PLAY CAROUSEL */
.carousel-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.carousel-container h3 {
    font-size: 1.5rem;
    text-align: center;
}

.carousel {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: proximity;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: center;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 10px;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.carousel-item figcaption {
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.carousel-nav a {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #0F3D26;
    border-radius: 50%;
    text-indent: -9999px;
    transition: background-color 0.3s ease;
}

.carousel-nav a:hover {
    background-color: #F0E2A8;
}

/* TIPS*/
.basic {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-items: center;
}

.basic-text {
    margin-top: 30px;
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.basic-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.basic-text p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.basic blockquote {
    font-weight: bold;
    margin-top: 15px;
    padding-left: 25px;
    border-left: 4px solid #0F3D26;
}

.basic-button {
    margin-top: 20px;
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #0F3D26;
    color: #F7EFC1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tips-img {
    width: 30%;
    height: auto;
    margin-left: 20px;
}

.footer {
    margin: 0 auto 0 auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
    padding: 20px;
    background-color: #0F3D26;
    color: #F0E2A8;;
    font-family: Inter, Arial, Helvetica, sans-serif;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
}

/* HISTORY PAGE SPECIFIC STYLES */
.jeudepaume-img {
    display: block;
    width: 30%;
    height: auto;
    max-height: 400px;
    margin-left: 10px;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.oldracket-img {
    width: 30%;
    height: auto;
    margin-left: 10px;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);

}

.love-img {
    width: 30%;
    height: auto;
    margin-left: 10px;
    align-self: center;
}