/* BASIC STYLE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7EFC1;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #0F3D26;
}

/* HEADINGS FONTS */
h1, h2, h3 {
    font-family: Rubik, Arial, Helvetica, sans-serif;
}

/* HEADER AND LOGO */
.header {
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

.logo {
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.header h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
}

/* MAIN AND NAVBAR */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: #F0E2A8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}

.navbar a {
    display: inline-block;
    margin: 10px 30px;
    color: #0F3D26;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navbar nav a:hover {
    transform: scale(1.1);
}

/* INTRO */
.intro {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.intro-text {
    flex: 1;
    max-width: 800px;
    margin-right: 20px;
    background-color: #F0E2A8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.intro-text h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.intro-img {
    width: 30%;
    height: auto;
    margin-left: 20px;
}

/* REASONS TO PLAY CAROUSEL */
.reasons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.reasons h3 {
    font-size: 1.5rem;
}

/* TIPS*/
.tips {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.tips-text {
    flex: 1;
    max-width: 800px;
    background-color: #F0E2A8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.tips-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tips-text p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.tips blockquote {
    font-weight: bold;
    margin-top: 15px;
    padding-left: 25px;
    border-left: 4px solid #0F3D26;
}

.tips-button {
    flex: 1;
    margin-top: 20px;
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #0F3D26;
    color: #F7EFC1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tips-img {
    width: 30%;
    height: auto;
    margin-left: 20px;
}

.footer {
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    width: 90%;
    max-width: 1200px;
    text-align: center;
    padding: 20px;
    background-color: #0F3D26;
    color: #F0E2A8;;
    font-family: Inter, Arial, Helvetica, sans-serif;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
}